/* app css stylesheet */

body {
  margin: 25px;
  padding: 20px;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.error {
  color: red;
}

html { 
  background: url(../images/dark_bg1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

svg {
	background-color:rgba(124,124,124,0.75)
}


app{
	padding:50px;
}

.topnav ul li {
border-right: 1px solid #fff;
display: inline;
float: left;
font-size: 22px;
margin-bottom: 0;
margin-left: 14px;
padding-right: 14px;
}

.topnav ul li.last {
border-right: 0 none;
}

.topnav .inside {
background: none repeat scroll 0 0 rgba(0, 51, 102, 1);
float: none;
overflow: hidden;
height: 30px;
position: relative;
top: -155px;
}

.lodlive {
	height: 800px;
	width:100%;
}

#blue-bar {
background: #036;
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 60px;
}

#introduction {
	background-color: rgba(125,125,125,0.9);
	width: 300px;
}

footer {
clear: both;
width: 100%;
height: 114px;
margin: 0 auto;
font-size: 1em;
color: white;
/*background-color: #FBFBF9;*/
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.addButton {
	float: right;
	background: transparent;
	border: none;
	height: 6%;
	width: 6%;
	padding: 0px;
}


.removeButton {
	float: right;
	background: transparent;
	border: none;
	height: 13%;
	width: 13%;
	padding: 0px;
}

.columnHeader {
	cursor: pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.sorting_asc {
background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting_both {
background: url('../images/sort_both.png') no-repeat center right;
}

.row_odd {
	background-color: white;
}

.row_even{
	background-color: #CCCCCC;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 98%;
  margin: 0 auto;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  color: #ffffff;
}
#cssmenu.align-right ul li {
  float: right;
  border-right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.22);
}
#cssmenu.align-right ul li a {
  border-right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
#cssmenu ul {
  background: #222222;
  /* Old browsers */

  background: -moz-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -webkit-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -o-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -ms-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: linear-gradient(to top, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
}
#cssmenu:after,
#cssmenu ul:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu ul li {
  float: left;
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.22);
  z-index: 1;
}
#cssmenu ul li::after {
  content: '';
  width: 100%;
  height: 8px;
  position: absolute;
  border-top-left-radius: 50% 4px;
  border-top-right-radius: 50% 4px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
  bottom: 10px;
}
#cssmenu ul li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 3;
}
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  color: #ffffff;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
  background: #0f73a8;
  /* Old browsers */

  background: -moz-linear-gradient(bottom, #094362 0%, #0f73a8 50%, #1393d7 51%, #1390d2 78%, #8ed1f5 100%);
  background: -webkit-linear-gradient(bottom, #094362 0%, #0f73a8 50%, #1393d7 51%, #1390d2 78%, #8ed1f5 100%);
  background: -o-linear-gradient(bottom, #094362 0%, #0f73a8 50%, #1393d7 51%, #1390d2 78%, #8ed1f5 100%);
  background: -ms-linear-gradient(bottom, #094362 0%, #0f73a8 50%, #1393d7 51%, #1390d2 78%, #8ed1f5 100%);
  background: linear-gradient(to top, #094362 0%, #0f73a8 50%, #1393d7 51%, #1390d2 78%, #8ed1f5 100%);
}
#cssmenu ul li:hover::after,
#cssmenu ul li.active::after {
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #0f73a8 61%, #0f73a8 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #0f73a8 61%, #0f73a8 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #0f73a8 61%, #0f73a8 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #0f73a8 61%, #0f73a8 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
