<!doctype html>
<div id='cssmenu'>
	<ul>
	   <li class='first'><a href='#'><span>Team Builder Beta</span></a></li>
	   <li class='active'><a href='#/about'><span>About</span></a></li>
	   <li class='last'><a href='mailto:suggestions@plattheleague.com?subject=Suggestion%20for%20PlatTheLeague.com'><span>Contact</span></a></li>
	</ul>
</div>
<div class="container-fluid" style="padding-top:10px;">
	<div class="thumbnail" style="text-align:left; width:60%; color:black;">
		<h2>About PlatTheLeague:</h2>
		<p>
			You play League of Legends...  so do we.  A lot.  
			Problem is, it's not super fun to play LoL for weeks on end working yourself up in the bronze tier, 
			only to be matched in your promos with that guy who picks Caitlin, feeds Jinx, and then blames it on the fact that 
			"she just outranges me and I can't do anything!!!".
		</p>
		<h3>WE KNOW YOUR PAIN!</h3>
		<br>
		<h2>What Our Site Does:</h2>
		<p>
			We wanted to create a totally free League of Legends champion counter service.  We've all been there:
			the other team grabs their ADC with their first pick, but nobody on your team knows what champ would 
			make a good counter, or which support you should be using against their lane.  Sure, you could google 
			their ADC, find a counter, google their support, find a counter, google your ADC, find a support they're 
			good with, and on and on... but that's slow, and frankly nobody has time during champion select.
		</p>
		<p>
			With all this in mind, we started building PlatTheLeague.com.  Simply click and drag the champions that
			people are picking to the map where they'll be playing, and our algorithm guesses at who will win each lane
			(and eventually the game) based on well-known counter information.  We harvest our counter information every
			night from various sites across the web, ensuring a quality distribution of votes.
		</p>
		<br>
		<h2>Why Our Site is Awesome:</h2>
		<p>
		<li>
			No more frantic googling during champion select.  Simply drag champions to where they'll be playing.
		</li>
		<li>
			We take into account a number of factors when predicting the game's outcome:
		</li>
		</p>
		<p style="text-indent: 3em;">
			*ALL of your champions in a lane, who counters their champions, and who works well together
		</p>
		<p style="text-indent: 3em;">
			*ALL of the champions opposing you in a lane, who counters yours, and which of their champs work well together
		</p>
		<p style="text-indent: 3em;">
			*Jungle Influence (jungle vs. jungle, jungle gank potentials vs. each lane)
		</p>
		<p style="text-indent: 3em;">
			*Late Game score: how well your team will work together in teamfights at the end of the game
		</p>
		<p>
		<li>
			Know your team... you'll know ahead of time which lanes might need extra gank help
		</li>	
		<li>	
			We love feedback!  After your game, we encourage you to let us know how we're doing
			so we can improve our game prediction algorithm.
		</li>
		<li>
			and of course, IT'S FREE!
		</li>
		</p>
		<br>
		<h2>What Our Site CAN'T Do:</h2>
		<p>
		<li>
			Magically predict disconnects
		</li>
		<li>
			Prevent trolls from... well... trolling
		</li>
		<li>
			Know that the user "MidOrFeed" will probably lose if he plays ADC
		</li>
		<li>
			Your laundry
		</li>
		</p>
		<h2>Wrap Up</h2>
		<p>
			We do genuinely hope that our counter service is helpful to you all,
			summoners who are ready to take their League of Legends game
			to the next level.  If you have any questions, comments, suggestions, 
			concerns, or just want to say 'hi', feel free to 
			<a href='mailto:suggestions@plattheleague.com?subject=Suggestion%20for%20PlatTheLeague.com'>contact us</a>.
			See you on the fields of justice! 
		</p>
	</div>
</div>
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50126206-1', 'plattheleague.com');
  ga('send', 'pageview');

</script>
</html>


